footer {
    background-color: rgb(244, 244, 244);
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
  }
.footerContent{
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.dashboardLogo,
.plmLogoBlack {
  width: 6%;
  height: auto; 
  object-fit: contain; /* ajusta de no centro de acordo com o tamanho da img */
  object-position: center;
  display: block;
  margin: 20px 6%;
}
.plmLogoBlack{
    width: 10%;
}